[submodule "v4l2rtspserver-master"]
	path = v4l2rtspserver-master
	url = https://github.com/Dafang-Hacks/v4l2rtspserver-master
[submodule "drivers"]
	path = drivers
	url = https://github.com/Dafang-Hacks/drivers.git
[submodule "kernel"]
	path = kernel
	url = https://github.com/Dafang-Hacks/kernel
[submodule "Audio"]
	path = Audio
	url = https://github.com/Dafang-Hacks/Audio.git
[submodule "uboot"]
	path = uboot
	url = https://github.com/Dafang-Hacks/uboot.git
[submodule "ImageMagick"]
	path = ImageMagick
	url = https://github.com/xushiwei/ImageMagick.git
